{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<div class="col-lg">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <form class="">
                <div class="form-row  ">
                    <div class="form-group col-md-6 col-sm-6">
                        {{ myFilter.form.start_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        {{ myFilter.form.end_date|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row  ">
                    <div class="form-group col-md-2 col-sm-12">
                        <button class="btn btn-sm btn-primary "> Search </button>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
    <div class="card card-primary card-outline">
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-striped table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Order Id
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Customer Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Order Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Engine version: activate to sort column ascending">Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for orders in ord  %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">{{orders.id}}</td>
                                    <td>{{orders.customer.first_name}} {{orders.customer.last_name}}</td>
                                    <td>{{orders.order_date}}</td>
                                    <td>
                                        {% if orders.status == 'Pending' %}
                                        <span class="badge bg-danger">{{orders.status}}</span>
                                        {% else %}
                                        <span class="badge bg-primary">{{orders.status}}</span>
                                        {% endif %}
                                    </td> 

                                    <td>
                                        {% if orders.status == 'Pending' %}
                                           <span><a class="btn btn-sm btn-primary" href="{% url 'shop:editorder' orders.id  %}">Edit</a></span>
                                        {% endif %}
                                    </td>

                                </tr>
                               
                                {% endfor %}
                                
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}