{% extends "shop/base.html" %}
 {% load crispy_forms_tags %}
  {% block content%}
 <div class="row">
    <div class="col-9 ">
    
        <!-- Main content -->
        <div class="content ">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg">
                        <div class="card ">
                            <div class="card-header bg-pink color-palette">
                                <h3 class="card-title">Customer Order</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" method="POST">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col">
                                            {{ form.price|as_crispy_field }}
                                        </div>
                                        <div class="form-group col">
                                            {{ form.amount_paid|as_crispy_field }}
                                        </div>
                                        <div class="form-group col">
                                            {{ form.balance|as_crispy_field }}
                                        </div>  
                                        <div class="form-group col">
                                            {{ form.status|as_crispy_field }}
                                        </div>
                                        <div class="form-group col">
                                            {{ form.closing_date|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            {{ form.description|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn bg-pink color-palette">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <div class="col-3 ">
    
        <!-- Main content -->
        <div class="content ">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg">
                        <div class="card ">
                            <div class="card-header bg-pink color-palette">
                                <h3 class="card-title">Customer Details</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                           
                                <div class="card-body">
                                    <div class="form-group ">
                                        <label class="details_tab text-muted" for="">Name: </label>
                                        <p class="details_tab" >{{cust.first_name }}  {{ customer.last_name}}</p>
                                        <label class="details_tab text-muted" for="">Gender: </label>
                                        <p class="details_tab">{{cust.gender }}</p>
                                        <label class="details_tab text-muted" for="">Contact: </label>
                                        <p class="details_tab">{{cust.phone }} </p> 
                                        <label class="details_tab text-muted" for="">Location: </label>
                                        <p class="details_tab">{{cust.location }} </p>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                      
                                    </div>
                                </div>
                              
                           
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
 </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
 {% comment %} JQUERY code to calculate Net_amount {% endcomment %}
<script>
    $(document).ready(function () {

        $("#id_price").keyup(function () {
            total = $("#id_price").val() - $("#id_amount_paid").val();
            $("#id_balance").val(total.toFixed(2));
        });
        $("#id_amount_paid").keyup(function () {
            total = $("#id_price").val() - $("#id_amount_paid").val();
            $("#id_balance").val(total.toFixed(2));
        });
        $("#id_balance").keyup(function () {
            total = $("#id_price").val() - $("#id_amount_paid").val();
            $("#id_balance").val(total.toFixed(2));
        });
    });
</script>
    
    {% endblock %}
  